<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.service.web.dao.AuthUseRoleMapper">

    <insert id="insert" parameterType="com.auth.service.web.model.po.AuthUseRolePO" keyProperty="role_id" useGeneratedKeys="true">
        INSERT INTO auth_user_role
            (user_id,)
        VALUES (
            #{userId,jdbcType=INTEGER},
        )
    </insert>

    <update id="update" parameterType="com.auth.service.web.model.po.AuthUseRolePO">
        UPDATE auth_user_role
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        WHERE role_id = #{roleId,jdbcType=INTEGER}
    </update>

    <select id="queryByID" parameterType="Integer" resultType="com.auth.service.web.model.dto.AuthUseRoleDetail">
        SELECT user_id AS userId,
               role_id AS roleId
          FROM auth_user_role
         WHERE role_id = #{roleId,jdbcType=INTEGER}
    </select>

    <select id="list" resultType="com.auth.service.web.model.dto.AuthUseRoleBrief">
        SELECT user_id AS userId,
               role_id AS roleId
          FROM auth_user_role
    </select>
</mapper>